* {
   box-sizing: border-box;
}

:root {
   background-color: #202020;
   color: aquamarine;
   font-family: monospace;
   font-size: 135%;
   margin: 0;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

form {
  margin-bottom: 10rem;
}

input {
   background: aqua;
   border-radius: 8px;
   border-color: aquamarine;
}

.btn {
   margin-top: .3rem;
   margin-bottom: 2rem;
   background: aquamarine;
   border-color: rgb(153, 153, 153);
   border-radius: 5px;
 }
 .btn:hover {
   background: whitesmoke;
 }