* {
  box-sizing: border-box;
}

:root {
  background-color: #202020;
  color: aquamarine;
  font-family: monospace;
  word-spacing: -.2rem;
  font-size: 135%;
  margin: 0;
}

body {
  text-align: center;
  width: 100%;
  margin: 0;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  padding: 1rem;
  margin: auto;
  gap: 2rem;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

img {
  display: block;
  margin: auto;
  max-height: 11.5rem;
}

h1 {
  margin-bottom: 0;
}

.header {
  margin-bottom: 5rem;
}

h5 {
  text-align: center;
  margin: .5rem;
  font-weight: 500;
}

.red-text {
  margin: .5rem;
  color: rgb(121, 17, 17);
  font-weight: bolder;
}

h4 {
  margin: .5rem;
}

.item {
  border: aquamarine 2px solid;
  border-radius: 8px;
}

.item:hover {
  background: rgba(127, 255, 212, 0.1);
  box-shadow: 0 0 5px hsl(160, 100%, 35%), 0 0 20px hsl(160, 100%, 35%), 0 0 40px hsl(160, 100%, 35%);
  transition-duration: 0.5s;
}

.btn {
  margin-top: 1.5rem;
  background: aquamarine;
  border-color: rgb(8, 8, 8);
  border-radius: 5px;
}

.btn:hover {
  background: whitesmoke;
}

@media (pointer: coarse) and (orientation: landscape) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .item {
    border-width: 3px;
  }
}

@media (pointer: coarse) and (orientation: portrait) {
  :root {
    font-size: 250%;
  }
  .item-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    border-width: 3px;
  }
}